In [1]:
# Import dependencies
import pandas as pd

In [9]:
print(range())

range(0, 4)

In [ ]:
# Excluding 2013 data, so that we can have a 4-year analysis from 2014 Q1 through 2017 Q4

for i in range(2014, 2017):
    for j in range(1, 4):
        filename = str('bikedata' + i + 'Q' + j + '.csv')
        bikedata = pd.read_csv(filename)
        bikedata =

In [6]:
# Excluding 2013 data, so that we can have a 4-year analysis from 2014 Q1 through 2017 Q4

# Start by first reading in the  files from 2013
bikedata = pd.read_csv('bikedata2013Q3.csv')
temp = pd.read_csv('bikedata2013Q4.csv')

# stack the temp dataframe below the original bikedata df
bikedata = bikedata.append(temp)
bikedata.head()

,24-Hour Passes Purchased (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm) 7-Day Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm),Annual Member Sign-Ups (midnight to 11:59 pm),Cumulative trips (since launch):,Date,Miles traveled to date:,Miles traveled today (midnight to 11:59 pm),Total Annual Members,Trips over the past 24-hours (midnight to 11:59pm)
0,0.0,NaN,0.0,2043,9767,5/27/2013,"21,533",21.533,17216,9767
1,0.0,NaN,0.0,2598,14982,5/28/2013,"30,313",8.780,19816,5215
2,0.0,NaN,0.0,2167,25963,5/29/2013,"52,211",21.898,21986,10981
3,0.0,NaN,0.0,1998,35813,5/30/2013,"72,532",20.321,23985,9850
4,0.0,NaN,0.0,1630,45066,5/31/2013,"92,775",20.243,25615,9253

In [ ]:
# Using a nested for loop to read and merge CSV files
for i in range(2013)

data20181 = pd.read_csv('bikedata2018Q1.csv')
data20174 = pd.read_csv('bikedata')